@media screen and (max-width: 768px ) {
    img{
        width: 100%;
    }

    .right_sub__text{
        padding: 0;
    }

    .enterprise_info{
        margin: 0;
    }

    .feedback_author__title, .feedback_author__descript{
        text-align: center;
    }

    .image_right{
        margin-top: 10px;
    }

    .tabs__item{
        margin-left: 28px;
    }

    .nav-pills__item{
        padding: 128% 20%;
    }

    .social__icon {
        font-size: 27px;
        margin: 0 15px;
    }

    .social_bar{
        padding: 0;
    }

    .circle{
        margin: 0 auto;
    }

    .sub_list__title{
        text-align: center;
        margin-top: 5px ;
    }
    .logo__img{
        width: 150px;
    }

}

@media screen and (max-width: 992px ) {
    .nav-pills__item{
        padding: 0;
        width: 80px;
        height: 30px;
        font-size: 12px;
    }

    .nav-pills__item.active{
        padding: 0;
        background-color: #333333;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        text-align: center;
        color: #ffffff;
        border-radius: 5%;
        width: 80px;
        height: 30px;
    }

    .nav>li{
        display: inline;
    }

    .tabs_items{
        padding: 0;
    }
}