h2{
    font-family:'Raleway', sans-serif;
    font-size: 36px;
    margin: 0;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 13px;
}

.all_text{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #a6a7a9;
    margin-bottom: 25px;

}

.navbar-inverse {
    background-color: black;
    border-color: black;
}

.header__menu_item{
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    font-size: 14px;
}

.navbar-inverse .navbar-nav>li>u {
    color: #ffffff;
}
.header{
    height:70px ;
    padding-top: 8px;
    background-color: black;
}

.navbar-brand{
    padding: 13px 15px;
}

.main_menu{
    background-image: url('../img/image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main__text{
    font-size: 2rem;
    color: #9c9c9d;
    margin: 0 0 47px 0;
}

.name__item{
    font-size: 3rem;
    color:white;
    margin: 0;
}

.button__main{
    background: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 9px 36px;
}

.info{
    margin-top: 109px;
}
.logo__img{
    margin-bottom: 33px;
}

.divider{
    width:64px;
    height: 2px;
    background-color: #ffffff;
    margin: 29px 0 29px 0;

}

.panel-body{
margin: 0 39px;
    padding: 0;
}

.input_field{
    border: none;
    border-bottom: lightgray solid 1px;
    width: 100%;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-left: 13px;
}

.input_field:last-child{
    margin-bottom: 45px;
}

.panel{
    box-sizing: content-box;
    margin-top: 140px;
}

.panel-primary>.panel-heading {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: black;
    background: #f5f5f5;
    border: none;
    padding: 15px;
}

.panel-primary{
    border: none;
}

.panel-footer{
    background-color: #ff9b51;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 10%;
    font-weight: 500;
    padding: 15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bdbdbd;
}

.row_main{
    margin-bottom: 140px;
}


/*******info-bar********/

.info-bar{
    background:#ffffff;
    border-bottom: 1px solid #b7b7b7;
}

.social__icon{
    font-size: 44px;
    color: #cccccc;
    margin: 0 30px;
}

.social_bar{
    margin-top: 28px;
}

/**************tabs-menu**********/
.tabs-menu{
    background-color: #f5f5f5;
}

.nav-pills__item{
    width: 110px;
    height: 110px;
    background-color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 38% 20%;
    color: #ffffff;
    border-radius: 5%;
}

.nav>li.active{
    background: #ff8b38;
}

.nav>li>a{
    color: #ffffff;
    font-weight: bold
}
.nav>li.active>a, .nav>li.active>a:focus, .nav>li.active>a:hover{
    background-color: transparent;
}

.tabs_stack{
    margin-top: 145px;
    margin-bottom: 115px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border:none;
}

.tabs_menu__button{
    background-color: #ff8b38;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 118px;
    height: 43px;
    border: none;
    border-radius: 5%;
    margin-top: 51px;

}

.image_right{
    margin:0  auto;
}

.nav>li>a{
    padding: 9px 13px;
    color: white;
}

.nav-tabs>li{
    margin-bottom: 1px;
}

/*************sub_list_sect************/
.sub-list_section{
    background: #ffffff;
}

.sub_list{
    margin-top: 120px;
    margin-bottom: 137px;
}

.sub_list__image{
    margin-top: 5px;
}

.sub_list_divider{
    width:64px;
    height: 2px;
    background-color: #ff8b38;
    margin: 29px 0 29px 0;
}

.sub_list__text{
   margin-bottom: 45px;
}

.circle{
    border-radius: 50%;
    border: 2px solid #ff8b38;
    background-color: white;
    width: 38px;
    height: 38px;
}

.fa-cloud-upload,.fa-cloud-download{
    font-size: 16px ;
    color: #ff8b38;
    margin: 27%;
}

.list_item{
    padding: 0;
    margin-bottom: 13px;
}

.right_sub__text{
    padding-left: 106px;
}



/*********pict_section*************/
.picture_section{
    background-color:#f5f5f5;
}

.picture_section__content{
    margin-top: 78px;
    margin-bottom: 100px;
}

.picture_section__text{
    margin-top: 15px;
}

.picture_section__pict{
    padding-left: 0px;
}

/**************AWESOME__SECT***********/
.awesome__section{
    margin-top: 105px;
    text-align: center;
    margin-bottom: 102px;
}

.awesome__divider{
    width:63px ;
    height: 2px;
    background:#ff8b38 ;
    margin-top: 29px;
    margin-bottom: 29px;
}

.awesome__main{
    margin-bottom: 80px;
}

.fa-lightbulb-o, .fa-keyboard-o,.fa-bolt{
    font-size: 32px;
    color: #ff8b38;
    margin: 24%;
}

.circle_large{
    border-radius: 50%;
    border: 2px solid #ff8b38;
    background-color: white;
    width: 68px;
    height: 68px;
    margin: 0 auto;
}

/**************pricing**********/
.pricing{
    background-color: #f5f5f5;
}
.basic_info{
    margin-top: 36px;
}
.pricing__section{
    text-align: center;
    margin-top: 107px;
    margin-bottom: 94px;
}

.pricing_info{
    margin-bottom: 82px;
}

.title__info{
    height: 58px;
    background: #333333;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    position: relative;
}

.pricing_item{
    margin: 0;
    position: absolute;
    top:50%;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}

.price__info{
    background: #333333;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 1px;
}


.price__notes{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    font-style: italic;
    margin: 0;
    padding-bottom: 17px;
}

.dollar{
    font-size: 35px;
    margin: 0;
}

.price{
    font-size: 95px;
}

.basic__footer{
    background-color: #ff8b38;
    height: 5px;
}

.professional__footer{
    height: 41px;
    background-color: #ff8b38;
}

.enterprise_info{
    margin-top: 36px;
}

.tariff__info{
    height: 42px;
    background-color: white;
    position: relative;
    margin-bottom: 1px;
}

.tariff_info__text{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-variant: all-petite-caps;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}

/*********customers__section************/

.customers{
    background-color:#ffffff ;
}

.customers__section{
    margin-top: 109px;
    text-align: center;
    margin-bottom: 102px;
}

.customers_info{
    margin-bottom: 52px;
}

.feedback__block{
    background-image: url("../img/feedback.png");
    padding: 22px 10px 60px 10px;
    margin: 0 30px;
    background-size: cover;
    background-repeat: no-repeat;
}

.feedback__text{
    font-style: italic;
    text-align: left;
    margin: 0;
}

.avatar{
    height: 70px;
    width: auto;
    padding: 0;
}

.feedback__descript{
    margin: 0 30px;
    padding: 8px;
}

.feedback_author__title{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.feedback_author__descript{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #86878b;
    text-align: left;
    padding: 0;
    margin: 0;
}

.author{
    margin-top: 11px;
    padding-left: 18px;
}

/***************stylist**********/

.stylist{
    background: url("../img/style_back.jpg");
    background-repeat: no-repeat;
    /*background-size: cover;*/
   /* position: relative;*/
    padding: 0;
}


.stylist__section{
    margin-top: 72px;
    text-align: center;
    z-index: 1;
    margin-bottom: 31px;
}

.stylish__title{
    color: #ffffff;
}

.cover{
    background: rgba(0,0,0,0.5);
}

.stylish__divider{
    width:63px ;
    height: 2px;
    background:white ;
    margin-top: 29px;
    margin-bottom: 32px;
}

.text_stylish{
    font-size: 14px;
    color: white;
    margin-bottom: 32px;
    font-family: 'Raleway', sans-serif;
}

/*************contact***********/

.contact{
    background-color: white;
}

.contact__section{
    margin-top: 107px;
    margin-bottom: 81px;
    text-align: center;
}

.field_contact{
    margin-top:76px;
}

.input_field__message{
    height: 150px;
    vertical-align: top;
}

.send_message__btn{
    width: 145px;
    height: 43px;
    border-radius: 5%;
    color: #ffffff;
    background-color:#ff9b51;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    border: none;
    box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.4);
}

.footer{
    background-color: black;
    text-align: center;
}

.footer__section{
    margin-top: 19px;
    margin-bottom: 13px;
}
.social__icon_footer{
    font-size: 24px;
    color: #cccccc;
    margin: 0 15px;
}

.footer__text{
    color: #cccccc;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: 13px;
}